@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #ADA0FF;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    width: 40vw;
    background-color: #fff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;    
    border-radius: 1rem;
}

form .search {
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;  
    justify-content: space-between;  
}

form .search input {
    width: 70%;
    border-bottom: 0.2rem solid #ADA0FF;
    height: 3rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    font-weight: 500;
}

form .search button {
    width: 20%;
    background-color: #ADA0FF;
    color: #fff;
    height: 3rem;   
    border-radius: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
}

form .result {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form .result .rsltDtls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;
}

form .result .rsltDtls h2{
    font-size: 2rem;
}

form .result .rsltDtls #wordInfo{
    font-size: 1rem;
    color: darkgrey;
}

form .result .meaning{
    display: flex;
    flex-direction: column;
    color: grey;
}

form .result .meaning span{
    margin: 1rem 0;
}

form .result .meaning .eg{
    border-left: 5px solid #ADA0FF;
    padding-left: 1rem;
    font-style: italic;
}

#icon {
    color: #ADA0FF;
    font-size: 1.5rem;
    cursor: pointer;
}