* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Rubik",sans-serif;
    font-weight: 600;
}

body {
    background-color: #FFAC24;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainCont {
    background-color: #000;
    width: 40vw;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 0.5rem;
}

form span{
    font-size: 8rem;
}

form p {
    font-size: 1.2rem;
    text-align: center;
    margin: 1.5rem 0;
    line-height: 2rem;
}

form button {
    padding: 1rem;
    font-size: 1rem;
    background-color: #FFAC24;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    cursor: pointer;
}